.IntroRow {
  margin-top: 25px;
  border-radius: 10px;
  background-color: white;
  height: fit-content;
}

.IntroContentCol {
  background-color: white;
}

.Mugshot {
  width:200px;
}

.switchHell{
  display: inline-flex;
}

.HomepageRoot{
  padding-bottom: 10px;
  background-color: #b9f6ca;
}